---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	Container,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import MapCard from "../../components/sections/heros/MapCard.astro"
import FeatureCard from "../../components/sections/heros/FeatureCard.astro"
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Antarctica | Sea Kayaking',
	description: 'Sea Kayaking expeditions open to sea kayaking staff',
};
---

<AnnouncementBar text="Antarctica 2023 Expedition Applications are Closed!" href="/expeditions/antarctica-2023" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Antarctica 2023</h1>
			<p>Twelve days of kayaking on the Antarctic Peninsula. Applications Now Open!</p>
		</div>
		<div slot="btns-container">
			<!-- <Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			> -->
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/expeditions/antarctica/whale-image.png"
				alt="Antarctica Cover"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
  <StickyTextImageSection>
    <div slot="text-container">
		<h2>About</h2>
		<p>
		Sea Kayaking is planning a twelve-day expedition to the Antarctic Peninsula 
		that will take place in December 2023/January 2024!
		</p>
		<p>We will be traveling with Southern Sea Ventures aboard the Polar Pioneer and will have the opportunity to 
			kayak in different areas of the region on both day and overnight trips.
		</p>
		<!-- <h2>Join Us</h2>
		<p>We are looking for three more participants to join our team committed to building upon backcountry, mindfulness, 
			and leadership skills, grow as individuals and as a team, experience different cultures, and enjoy 
			a unique wilderness, all in the remote landscape of the frozen southern continent of Antarctica.</p>
		<h2>Selection Requirements</h2>
		<p><ul>
			<li>Must be a&nbsp;<u>Georgia Tech student&nbsp;</u>at the time of the expedition</li>
			<li>Must have an&nbsp;<u>ORGT Memorandum of Understanding (MOU)</u><u>&nbsp;</u>in sea kayaking (preferred) or another sport</li>
			<li>Have learned or express a desire to learn necessary&nbsp;<u>kayak safety skills</u></li>
			<li>Must show financial capability for covering&nbsp;<u>$5,000 in expedition costs</u></li>
			<li>Excluding estimated ~$2,000 flight cost at time of departure</li>
			<li>Attend&nbsp;<u>minimum of two</u>&nbsp;pre-requisite trips during Fall Semester 2023</li>
			<li>Express a strong up-front&nbsp;<u>commitment</u></li>
			<li>Required&nbsp;<u>fitness</u>&nbsp;or commitment to building fitness</li>
		</ul></p> -->
    </div>
     <picture slot="image-container">
		
		<MapCard title="Antarctic Peninsula"
		href="https://api.mapbox.com/styles/v1/greidy3/cle81ikeh000z01phlu30oa03.html?title=false&access_token=pk.eyJ1IjoiZ3JlaWR5MyIsImEiOiJjbGUwbmt6YTQxY3JhM3FtamVkZTcxZ3NmIn0.RN-kwQzvocsDqJL9N71Bsg&zoomwheel=false#4.96/-66.33/-61.6/11.2/2">
		</MapCard>
    </picture>
  </StickyTextImageSection>
  <Container>
	<FeatureCard
					imgSrc="/assets/images/home/expeditions/antarctica/antarctica-large"
					title="Antarctica Collage"
				>
	</FeatureCard>
  </Container>
  <Container>
	<p></p>
  </Container>
	
	

  

</Layout>

