---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	Container,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import MapCard from "../../components/sections/heros/MapCard.astro"
import FeatureCard from "../../components/sections/heros/FeatureCard.astro"
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Antarctica 2023 | Sea Kayaking',
	description: 'Sea Kayaking expedition in Antarctica',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Antarctica 2023</h1>
			<p>Twelve days of kayaking on the Antarctic Peninsula.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/expeditions/antarctica/whale-image.png"
				alt="Antarctica Cover"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
  <StickyTextImageSection>
    <div slot="text-container">
		<h2>About</h2>
		<p>
			The Antarctica expedition is a 13-day sea kayaking trip planned for December 2023. The team of six will travel on the <i>Polar Pioneer</i> which will serve as the base camp. There will be opportunities for kayaking, hiking, and exploring the unique Antarctic landscape.
		  </p>
		  <p>
			The team will launch kayaking excursions from the ship along the Antarctic Peninsula. The total daily paddling distance will average 15-20 miles across two outings. Average temperatures are expected to be -1째C to 3째C (25째F to 32째F).
		  </p>
		  <br>
		<h2>Team</h2>
		<p>We selected individuals who possess the necessary physical fitness, commitment to the outdoors,
			and ability to handle the potentially challenging weather and environmental conditions possibly 
			encountered on the expedition. Training and preparedness are essential.</p>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>Taylor Sherwood</h2>
				<h4>Expedition Leader</h4>
				<p>BE Civil Engineering <br>
					BA Spanish</p>
				<p><b>Hometown:</b><br>Milledgeville, Georgia <br></p>
			</div>
			<picture slot="image-container">
				<img
				src="/assets/images/about/sherwood-headshot-2.png"
				alt="Taylor Sherwood Greenland"
				loading="lazy"
				/>
			  </picture>
		</StickyTextImageSection>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>Grant Reidy</h2>
				<h4>Expedition Leader</h4>
				<p>BS Computer Science<br></p>
				<p><b>Hometown:</b><br>Jacksonville, Florida<br></p>
			</div>
			<picture slot="image-container">
				<img
				src="/assets/images/about/reidy-headshot.png"
				alt="Grant Reidy"
				loading="lazy"
				/>
			  </picture>
		</StickyTextImageSection>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>John Traendly</h2>
				<h4>Mentor</h4>
				<p>BE Mechanical Engineering<br>MS Industrial Engineering</p>
				<p><b>Hometown:</b><br>Atlanta, Georiga<br></p>
			</div>
			<picture slot="image-container">
				<img
				src="/assets/images/about/traendly-headshot.png"
				alt="Grant Reidy"
				loading="lazy"
				/>
			  </picture>
		</StickyTextImageSection>
		<StickyTextImageSection>
			<div slot="text-container">
			  <h3>Denitsa Dimitrova</h3> 
			  <h4>Participant</h4>
			<p>
				BE Electrical Engineering
			  </p>
			  <p><b>Hometown:</b><br>Virginia Beach, Virginia<br></p>
			</div>
			<picture slot="image-container">
			  <img
			  	src="https://via.placeholder.com/400"
				alt="Denitsa Dimitrova"
			  />
			</picture>
		  
		  </StickyTextImageSection>
		  
		  <StickyTextImageSection>
			<div slot="text-container">
			  <h3>Emma Iseman</h3>
			  <h4>Participant</h4>
			<p>
				BS Industrial Engineering  
			  </p>
			  <p><b>Hometown:</b><br>Augusta, Georiga<br></p>
			</div>
		  
			<picture slot="image-container">
			  <img 
				src="/assets/images/about/emma-headshot.png"
				alt="Emma Iseman"
			  />
			</picture>
		  
		  </StickyTextImageSection>
		  
		  <StickyTextImageSection>
		  
			<div slot="text-container">
			  <h3>Maximilian Brogi</h3>
			  <h4>Participant</h4>
			<p>
				BE Biomedical Engineering
			  </p>
			  <p><b>Hometown:</b><br>Atlanta, Georiga<br></p>
			</div>
		  
			<picture slot="image-container">
			  <img
			  	src="https://via.placeholder.com/400"
				alt="Maximilian Brogi" 
			  />
			</picture>
		  
		  </StickyTextImageSection>
		<!-- <FeatureCard
					imgSrc="/assets/images/home/expeditions/greenland/greenland-travel"
					title="Greenland Travel"
				>
		</FeatureCard> -->
    </div>
     <picture slot="image-container">
		
		<MapCard title="Antarctic Peninsula"
		href="https://api.mapbox.com/styles/v1/greidy3/cle81ikeh000z01phlu30oa03.html?title=false&access_token=pk.eyJ1IjoiZ3JlaWR5MyIsImEiOiJjbGUwbmt6YTQxY3JhM3FtamVkZTcxZ3NmIn0.RN-kwQzvocsDqJL9N71Bsg&zoomwheel=false#4.96/-66.33/-61.6/11.2/2">
		</MapCard>
    </picture>
  </StickyTextImageSection>
  <Container>
	<FeatureCard
					imgSrc="/assets/images/home/expeditions/antarctica/antarctica-large"
					title="Antarctica Collage"
				>
	</FeatureCard>
  </Container>
  <Container>
	<p></p>
  </Container>
	
	

  

</Layout>

