---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	Container,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import MapCard from "../../components/sections/heros/MapCard.astro"
import FeatureCard from "../../components/sections/heros/FeatureCard.astro"
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Norway 2024 | Sea Kayaking',
	description: 'Sea Kayaking expedition in Central Norway',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Norway 2024</h1>
			<p>Thirteen days including paddling, hiking and camping in Central Norway.</p>
		</div>
		<div slot="btns-container">
			<!-- <Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			> -->
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/expeditions/norway-2024/norway-cover-main.png"
				alt="Norway Cover"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
  <StickyTextImageSection>
    <div slot="text-container">
		<h2>About</h2>
			<p> The <b>Norway expedition</b> is an 13-day sea kayaking trip planned for <i>August 2024</i>. The route explores the fjords of central Norway, including Aurlandsfjorden, Nærøyfjord, Sognefjorden, Fjærlandsfjord and Sogndalsfjorden. </p> <p> The expedition will launch from Flåm and paddle through scenic villages like Gudvangen, Balestrand, and Sogndal. There will be opportunities for <i>hiking, camping</i>, and exploring small towns along the route. The total paddling distance will be around <b>120 miles</b> over 9 days of paddling. </p> <p> The team will consist of <b>8 paddlers</b> and <b>1 mentor</b>, all with sea kayaking experience, wilderness medical training, and the necessary fitness and skills to handle the potential weather and conditions. There will be opportunities for <i>training</i> and <i>preparation</i> prior to departure. </p>
		
		<FeatureCard
					imgSrc="/assets/images/home/expeditions/norway-2024/norway-main"
					title="Norway Fjord Kayaking"
				>
		</FeatureCard>
		<br>
		<h2>Team</h2>
		<p>We selected individuals who possess the necessary physical fitness, commitment to the outdoors,
			and ability to handle the potentially challenging weather and environmental conditions possibly 
			encountered on the expedition. Training and preparedness are essential.</p>
			<StickyTextImageSection>
			<div slot="text-container">
				<h2>Taylor Sherwood</h2>
				<h4>Expedition Leader</h4>
				<p>BE Civil Engineering <br>
					BA Spanish</p>
				<p><b>Hometown:</b><br>Milledgeville, Georgia <br></p>
			</div>
			<picture slot="image-container">
				<img
				src="/assets/images/about/sherwood-headshot-2.png"
				alt="Taylor Sherwood Greenland Ice"
				loading="lazy"
				/>
			  </picture>
		</StickyTextImageSection>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>Grant Reidy</h2>
				<h4>Expedition Leader</h4>
				<p>BS Computer Science<br></p>
				<p><b>Hometown:</b><br>Jacksonville, Florida<br></p>
			</div>
			<picture slot="image-container">
				<img
				src="/assets/images/about/reidy-headshot.png"
				alt="Grant Reidy Greenland Ice"
				loading="lazy"
				/>
			  </picture>
		</StickyTextImageSection>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>Leo Alexeyev</h2>
				<h4>Expedition Leader</h4>
				<p>BS Computer Science</p>
				<p><b>Hometown:</b><br>Tampa, Florida</p>
			</div>
			<picture slot="image-container">
				<img
					src="/assets/images/about/leo-headshot.png"
					alt="Leonid Alexeyev"
					loading="lazy"
				/>
			</picture>
		</StickyTextImageSection>
		
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>Emma Iseman</h2>
				<h4>Expedition Leader</h4>
				<p>BS Industrial Engineering</p>
				<p><b>Hometown:</b><br>Augusta, Georgia</p>
			</div>
			<picture slot="image-container">
				<img
					src="/assets/images/about/emma-headshot.png"
					alt="Emma Iseman"
					loading="lazy"
				/>
			</picture>
		</StickyTextImageSection>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>John Traendly</h2>
				<h4>Mentor</h4>
				<p>BE Mechanical Engineering<br>MS Industrial Engineering</p>
				<p><b>Hometown:</b><br>Symrna, Georiga<br></p>
			</div>
			<picture slot="image-container">
				<img
				src="/assets/images/about/traendly-headshot.png"
				alt="Grant Reidy"
				loading="lazy"
				/>
			  </picture>
		</StickyTextImageSection>
		<!-- <FeatureCard
					imgSrc="/assets/images/home/expeditions/greenland/greenland-travel"
					title="Greenland Travel"
				>
		</FeatureCard> -->
    </div>
     <picture slot="image-container">
		
		<MapCard title="Flåm"
		href="https://api.mapbox.com/styles/v1/greidy3/clp0bdp9x00vk01qj736k50fy.html?title=false&access_token=pk.eyJ1IjoiZ3JlaWR5MyIsImEiOiJjbGUwbmt6YTQxY3JhM3FtamVkZTcxZ3NmIn0.RN-kwQzvocsDqJL9N71Bsg&zoomwheel=false#9.89/60.986/7.1707">
		</MapCard>
    </picture>
  </StickyTextImageSection>
  <!-- <YouTubeEmbedSection url="https://www.youtube.com/watch?v=d8Xl7kPA-5k" rounded /> -->
  <br>
	
	

  

</Layout>

