---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import { Container } from '@littlesticks/odyssey-theme-components';
import MapCard from "../../components/sections/heros/MapCard.astro"
import FeatureCard from "../../components/sections/heros/FeatureCard.astro"
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'IP Trips | ORGT Sea Kayaking',
	description: 'Sea Kayaking IP Trips are open to all Georgia Tech students',
};
---

<AnnouncementBar text="IP Trip Registration for Spring 2023 is Now Open!" href="" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Sea Kayaking IP Trips</h1>
			<p>Open enrollment for all Georgia Tech students.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/ip-trips/ip-trips_cover.png"
				alt="IP Trips Cover Image"
				id="ip-trips-cover-image"
			/>
		</picture>
	</TextAndImageHero>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Getting Your Feet Wet</h2>
			<p>
				On beginner level trips, participants learn the basics about kayaking equipment, 
				paddle strokes, and rescue techniques. On either day trip or overnight excursions, 
				beginner trips are a great way to get exposed to sea kayaking adventures.
			</p>
		</div>
		<div slot="column-2-body">
			<h2>Eligibility & Registration</h2>
			<p>
				Adventure trips are intended to enhance experiences for current Georgia Tech students. 
				Various trips are offered each semester, and include expert instruction, 
				specialty equipment, and transportation.
			</p>
		</div>
		
		<div slot="column-3-body">
			<h2>Advanced Paddling</h2>
			<p>
				Those looking for more opportunities to get out on the water can participate in 
				our advanced trips to increase endurance over longer distances, often while carrying 
				camping gear, develop technical paddling skills, and explore scenic areas across the 
				Southeast United States.
			</p>
		</div>
	</ThreeColumnTextSection>
	<CtaCardSection background="var(--theme-primary-hover)" color="var(--theme-on-primary)">
		<h3>Find more information about IP trips on the official CRC website using the link below.</h3>
		<Button href="/ip-trips" customIcon>Learn More
			<Fragment slot="icon">
			  <Icon name="ic:baseline-launch" />
			</Fragment>
		</Button>
	</CtaCardSection>
	
	<Container>
		<section class="feature-card__section">
			<h2><a style="text-decoration: none;" href="/ip-trips">Sea Kayaking IP Trips</a></h2>
			<p>
				Open enrollment Instructional Program (IP) outdoor adventure trips available for all Georgia Tech students. 
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/ip-trips/nc-lakes" title="North Carolina Lakes" imgSrc="/assets/images/home/ip-trips/nc-lakes/nc-lakes-main">
				</FeatureCard>
				<FeatureCard href="/ip-trips/okefenokee" title="Okefenokee Swamp" imgSrc="/assets/images/home/ip-trips/okefenokee/okefenokee-main">
				</FeatureCard>
				<FeatureCard href="/ip-trips/lake-jocassee" title="Lake Jocassee" imgSrc="/assets/images/home/ip-trips/lake-jocassee/lake-jocassee-main">
				</FeatureCard>
				<FeatureCard href="/ip-trips/tybee-island" title="Tybee Island" imgSrc="/assets/images/home/ip-trips/tybee-island/tybee-island-main">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>