---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	Container,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import MapCard from "../../components/sections/heros/MapCard.astro"
import FeatureCard from "../../components/sections/heros/FeatureCard.astro"
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Okefenokee | Sea Kayaking',
	description: 'Sea Kayaking Okefenokee IP trip',
};
---

<Layout seo={seo} >
	<CtaCardSection background="var(--theme-primary-hover)" color="var(--theme-on-primary)">
		<h3>Find more information about IP trips on the official CRC website using the link below.</h3>
		<Button href="https://crc.gatech.edu/outdoor/adventure-trips/sea-kayaking" customIcon>Learn More
			<Fragment slot="icon">
			  <Icon name="ic:baseline-launch" />
			</Fragment>
		</Button>
	</CtaCardSection>
  <StickyTextImageSection>
    <div slot="text-container">
		<h2>Okefenokee Swamp</h2>
		<p>
			Taylor, write something long and nicely formatted to go here.
		</p>
		<FeatureCard
					imgSrc="/assets/images/home/ip-trips/okefenokee/main_alligator"
					title="Okefenokee"
				>
		</FeatureCard>
		<br>
		<h2>Team</h2>
		<p>We selected individuals who possess the necessary physical fitness, commitment to the outdoors,
			and ability to handle the potentially challenging weather and environmental conditions possibly 
			encountered on the expedition. Training and preparedness are essential. Along with regular training trips,
			educational opportunties were made available on chart reading, cold weather survival, and first aid.</p>
		
		<!-- <FeatureCard
					imgSrc="/assets/images/home/expeditions/greenland/greenland-travel"
					title="Greenland Travel"
				>
		</FeatureCard> -->
    </div>
     <picture slot="image-container">
		
		<MapCard title="Okefenokee Swamp"
		href="https://api.mapbox.com/styles/v1/greidy3/cllwpvtwy01cc01qi0vigg6i7.html?title=false&access_token=pk.eyJ1IjoiZ3JlaWR5MyIsImEiOiJjbGUwbmt6YTQxY3JhM3FtamVkZTcxZ3NmIn0.RN-kwQzvocsDqJL9N71Bsg&zoomwheel=false#11.75/30.797/-82.3094">
		</MapCard>
    </picture>
	
  </StickyTextImageSection>
  
	
	

  

</Layout>

