---
import {Icon} from 'astro-icon'
import Layout from '../../layouts/Page.astro';
import MapCard from '../../components/sections/heros/MapCard.astro';
import FeatureCard from '../../components/sections/heros/FeatureCard.astro';
import {
  AnnouncementBar,
  Button,
  Container,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';

const seo = {
  title: 'Coastal Surfing Adventure | Sea Kayaking',
  description: 'Coastal Surfing Adventure IP trip', 
};
---

<Layout seo={seo}>
  <CtaCardSection background="var(--theme-primary-hover)" color="var(--theme-on-primary)">
    <h3>Find more information about IP trips on the official CRC website using the link below.</h3>
  
    <Button href="https://crc.gatech.edu/outdoor/adventure-trips/sea-kayaking" customIcon>Learn More
      <Fragment slot="icon">
        <Icon name="ic:baseline-launch" />
      </Fragment>
    </Button>
  </CtaCardSection>

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Coastal Surfing Adventure</h2>
      
      <p>
        A two day introduction to sea kayak surfing, including paddling in ocean swells and tidal currents. One night is spent camping  
        in an established campground.
      </p>
      
      <h2>Trip Details</h2>

      <ul>
        <li><strong>When:</strong> A classroom session is held on a Monday evening from 7:00 pm to 9:00 pm to review chart reading, basic navigation, tides, ocean currents, surfing techniques, safety protocols and VHF radios. The ocean trip begins on a Saturday about 7:00 am and ends on a Sunday about 7:00 pm.</li>
      
        <li><strong>Prerequisites:</strong> FoK I and FoK II, or SK Overnight.</li>
        
        <li><strong>Registrations:</strong> Registrations open the first day of the semester and close on the Monday before the mandatory classroom session begins.</li>
        
        <li><strong>Capacity:</strong> 12 participants plus Sea Kayaking staff.</li>
      
        <li><strong>Location:</strong> Coastal locations - Tybee Island, GA or Charleston, SC.</li>
      </ul>
      <br>
      <FeatureCard
        imgSrc="/assets/images/home/ip-trips/tybee-island/tybee-island"
        title="Coastal Surfing Adventure" 
      />
    
    </div>

    <picture slot="image-container">
      <MapCard
        title="Tybee Island"
        href="https://api.mapbox.com/styles/v1/greidy3/cllwp8d9y019701ma45uf7pz9.html?title=false&access_token=pk.eyJ1IjoiZ3JlaWR5MyIsImEiOiJjbGUwbmt6YTQxY3JhM3FtamVkZTcxZ3NmIn0.RN-kwQzvocsDqJL9N71Bsg&zoomwheel=false#13/31.999651/-80.840866"
      />
    </picture>

  </StickyTextImageSection>

</Layout>