---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  Container,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';

const seo = {
	title: 'About | Sea Kayaking',
	description: 'About Page',
};
---

<Layout {seo}>
  <Container>
    <h1>About Us</h1>
    <p>
      At the heart of Georgia Tech's vibrant community, our Sea Kayaking program offers students a unique opportunity to engage in transformative paddling adventures around the globe. 
    </p>
    <p>
      Our initiative thrives under the guidance of dedicated student volunteers who not only spearhead our open-enrollment instructional programs (IPs) but also manage the intricate logistics of the sport and curate training sessions for our current staff to excel.
    </p>
    <p>
      The Sea Kayaking program provides a plethora of avenues for student involvement. From our weekly sport <a href="/about/meetings">community meetings</a> to skill-building roll schools, from exciting <a href="/expeditions">IP trips</a> to breathtaking <a href="/expeditions">expeditions</a>, there's something for everyone. For those seeking leadership roles, we offer a pathway to growth through volunteer staff progression and various sport officer positions.
    </p>
      <Button href="/about/meetings">Meetings</Button>
  </Container>
  <StickyTextImageSection>
		<section class="feature-card__section">
			
		</section>
		<div slot="text-container">
			<h2>Vice President</h2>
			<p></p>
		<h3>Taylor Sherwood</h3>
		  <p>
        Hi, I'm Taylor! I'm originally from Milledgeville, Georgia, and I study Civil Engineering and Spanish as an undergraduate student here at Georgia Tech. 
        I'm currently serving as this year's Sea Kayaking Vice President, and am an Expedition Leader for both international expeditions in 2023, 
        the <a href="/expeditions/greenland">Greenland Expedition</a>, <a href="/expeditions/antarctica-2023">Antarctica Expedition</a>, and <a href="/expeditions/norway-2024">Norway Expedition</a>. I'm excited to help provide more incredible 
        paddling opportunities to the Georgia Tech community!
		  </p>
      <p>Email: <a href="mailto:tsherwood6@gatech.edu">tsherwood6@gatech.edu</a></p>
		</div>
		 <picture slot="image-container">
		  <img
			src="/assets/images/about/sherwood-headshot-2.png"
			alt="Taylor Sherwood"
			loading="lazy"
		  />
		</picture>
	  </StickyTextImageSection>
    <StickyTextImageSection>
      <section class="feature-card__section">
        
      </section>
      <div slot="text-container">
        <h2>Gear Chair</h2>
        <p></p>
      <h3>Grant Reidy</h3>
        <p>
          Hi, I'm Grant. I'm an undergraduate Computer Science student. I'm originally from Jacksonville, Florida, and I enjoyed kayaking along 
          the St. Johns River before coming to Atlanta. I've been working with Sea Kayaking since 2021, 
          and I was a participant on the <a href="/expeditions/british-columbia">British Columbia Expedition</a> in August 2022. 
          I am an Expedition Leader for the <a href="/expeditions/greenland">Greenland Expedition</a>, <a href="/expeditions/antarctica-2023">Antarctica Expedition</a>, and <a href="/expeditions/norway-2024">Norway Expedition</a>. I recommend joining Sea Kayaking 
          for an experience like no other offered at Georgia Tech.
        </p>
        <p> I also built this website so if you have any feedback, please reach out!</p>
        <p>Email: <a href="mailto:grant.reidy@gatech.edu">grant.reidy@gatech.edu</a></p>
      </div>
       <picture slot="image-container">
        <img
        src="/assets/images/about/reidy-headshot.png"
        alt="Grant Reidy"
        loading="lazy"
        />
      </picture>
      </StickyTextImageSection>
    <StickyTextImageSection>
      <section class="feature-card__section">
        
      </section>
      <div slot="text-container">
        <h2>Mentor</h2>
        <p></p>
      <h3>John Traendly</h3>
        <p>
          Hi, I'm John. I'm a Georgia Tech alumnus, ME 1968 and MS IE 1973, and have been mentoring in the Sea 
          Kayaking program since 2012. I am an <a target="_blank" href="https://americancanoe.org/">American Canoe Association</a> Level 5 Instructor and a Level 3 
          Instructor Trainer. I have been fortunate to have staffed over 160 <a href="/ip-trips">IP trips</a> and been on all of 
          the <a href="/expeditions">Sea Kayaking expeditions</a>. Prior to kayaking, I was an IT and logistics executive, entrepreneur and United States Marine. 
          I'm looking forward to some great new adventures in the Sea Kayaking program.
        </p>
        <p>Email: <a href="mailto:traendj@bellsouth.net">traendj@bellsouth.net</a></p>
      </div>
       <picture slot="image-container">
        <img
        src="/assets/images/about/traendly-headshot.png"
        alt="John Traendly"
        loading="lazy"
        />
      </picture>
      </StickyTextImageSection>
      <StickyTextImageSection>
        <section class="feature-card__section">
          
        </section>
        <div slot="text-container">
          <h2>Training Chair</h2>
          <p></p>
        <h3>Jackson Moody</h3>
          <p>
            Hi, I'm Jackson. I am originally from Memphis, Tennessee and am currently a grad student in Electrical Engineering at Georgia Tech. 
            I have been staffing Sea Kayaking trips since 2018 and have held a variety of roles in that time including Vice President. 
            I am currently serving as training chair and leading our weekly roll schools.
          </p>
          <p>Email: <a href="mailto:jmoody41@gatech.edu">jmoody41@gatech.edu</a></p>
        </div>
         <picture slot="image-container">
          <img
          src="/assets/images/about/moody-headshot.png"
          alt="Jackson Moody"
          loading="lazy"
          />
        </picture>
        </StickyTextImageSection>
        <StickyTextImageSection>
        <section class="feature-card__section">
          
        </section>
        <div slot="text-container">
          <h2>New & Prospective Staff Liason</h2>
          <p></p>
        <h3>Denitsa Dimitrova</h3>
        <p>
          Hi, I'm Deni! I am originally from Virginia Beach and have been part of the sea kayaking community since 2019.
          As an Electrical Engineering student at Georgia Tech, I apply the same precision and attention to detail to kayaking that I do to my studies. 
          My journey with sea kayaking has been filled with growth and adventure as a participant on the <a href="/expeditions/antarctica-2023">Antarctica Expedition</a>. 
          As the New & Prospective Staff Liaison, I'm committed to welcoming new members and helping them navigate the exciting waters of this sport. 
          
        </p>
          <p>Email: <a href="mailto:ddimitrova3@gatech.edu">ddimitrova3@gatech.edu</a></p>
        </div>
         <picture slot="image-container">
          <img
          src="https://via.placeholder.com/650"
          alt="Denitsa Dimitrova"
          loading="lazy"
          />
        </picture>
        </StickyTextImageSection>
        <StickyTextImageSection>
          <section class="feature-card__section">
            
          </section>
          <div slot="text-container">
            <h2>Scribe</h2>
            <p></p>
          <h3>Emma Iseman</h3>
          <p>
            Hello! I'm Emma. I'm originally from Augusta, and I joined sea kayaking in 2023! 
            I bring boundless energy and a keen mind to the team. The <a href="/expeditions/antarctica-2023">Antarctica Expedition</a> is an incredible opportunity for me to dive headfirst into the world of sea kayaking, 
            and I'm ready to soak up every moment. As the team's Scribe, 
            I'll be capturing our stories and ensuring that our shared experiences are preserved.
          </p>
            <p>Email: <a href="mailto:eiseman3@gatech.edu">eiseman3@gatech.edu</a></p>
          </div>
           <picture slot="image-container">
            <img
            src="/assets/images/about/emma-headshot.png"
            alt="Denitsa Dimitrova"
            loading="lazy"
            />
          </picture>
          </StickyTextImageSection>
</Layout>
