---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';

const seo = {
	title: 'About | ORGT Sea Kayaking',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About</h1>
			<p>
				Sea Kayaking is a sub-organization of 
        <a href="https://crc.gatech.edu/outdoor/adventure-trips">Outdoor Recreation Georgia Tech (ORGT)</a> 
        dedicated to facilitating enriching paddling experiences to Georgia Tech students.
			</p>
		</div>
    <!-- <picture slot="image-container">
      <img
        src="/assets/images/paddle.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture> -->
	</HeroSection>
  <StickyTextImageSection>
		<section class="feature-card__section">
			
		</section>
		<div slot="text-container">
			<h2>Vice President</h2>
			<p></p>
		<h3>Taylor Sherwood</h3>
		  <p>
        Hey I'm Taylor, I'm an undergraduate Civil Engineering and Spanish student. I'm originally from Milledgeville, Georgia, and 
        I assumed the position of Vice President in 2023. I am an Expedition Leader for the <a href="/expeditions/greenland">Greenland Expedtion</a> 
        as well as the <a href="/expeditions/antarctica">Antarctica Expedition</a>. It has been my goal as VP to pioneer expeditions to new countries around the globe, 
        and to expand the reach of Sea Kayaking to Georiga Tech students.
		  </p>
      <p>Email: <a href="mailto:tsherwood6@gatech.edu">tsherwood6@gatech.edu</a></p>
		</div>
		 <picture slot="image-container">
		  <img
			src="/assets/images/about/sherwood-headshot.png"
			alt="Taylor Sherwood"
			loading="lazy"
		  />
		</picture>
	  </StickyTextImageSection>
    <StickyTextImageSection>
      <section class="feature-card__section">
        
      </section>
      <div slot="text-container">
        <h2>Gear Chair</h2>
        <p></p>
      <h3>Grant Reidy</h3>
        <p>
          Hi I'm Grant, I'm an undergraduate Computer Science student. I'm originailly from Jacksonville, Florida, 
          and I have been kayaking for over 8 years of my life already. I've been working with ORGT Sea Kayaking since 2021, 
          and I was a participant on the <a href="/expeditions/british-columbia">British Columbia Expedition</a> in August 2022. 
          I am an Expedition Leader for the <a href="/expeditions/greenland">Greenland Expedtion</a>, as well as the 
          <a href="/expeditions/antarctica">Antarctica Expedition</a>. I definitely recommend joining Sea Kayaking 
          for an experience like no other offered at Georgia Tech.
        </p>
        <p> I also built this website so if you have any feedback, please reach out!</p>
        <p>You should visit my website: <a target="_blank" href="https://www.grantreidy.com">www.grantreidy.com</a>.</p>
        <p>Email: <a href="mailto:grant.reidy@gatech.edu">grant.reidy@gatech.edu</a></p>
      </div>
       <picture slot="image-container">
        <img
        src="/assets/images/about/reidy-headshot.png"
        alt="Grant Reidy"
        loading="lazy"
        />
      </picture>
      </StickyTextImageSection>
      <StickyTextImageSection>
        <section class="feature-card__section">
          
        </section>
        <div slot="text-container">
          <h2>Training Chair</h2>
          <p></p>
        <h3>Jackson Moody</h3>
          <p>
          Looking sexy as always.
          </p>
        </div>
         <picture slot="image-container">
          <img
          src="/assets/images/about/moody-headshot.png"
          alt="Jackson Moody"
          loading="lazy"
          />
        </picture>
        </StickyTextImageSection>
</Layout>
