---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  Container,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';

const seo = {
	title: 'About | Sea Kayaking',
	description: 'About Page',
};
---

<Layout {seo}>
  <Container>
			<h1>About</h1>
			<p>
				Sea Kayaking enables Georgia Tech students to participate in and lead enriching paddling experiences across the world. 
			</p>
      <p>
        Sea Kayaking is run by a team of student volunteers tasked with leading open-enrollment 
        instructional programs (IPs), organizing sport logistics, and providing training opportunities 
        for current staff.</p>
        <p>Sea Kayaking offers many ways for students to get involved, including weekly sport <a href="/about/meetings">community meetings</a>, 
          roll schools, <a href="/expeditions">IP trips</a>, and <a href="/expeditions">expeditions</a>. Leadership opportunities are also available 
          through volunteer staff progression and sport officer positions. </p>
      <Button href="/about/meetings">Meetings</Button>
  </Container>
  <StickyTextImageSection>
		<section class="feature-card__section">
			
		</section>
		<div slot="text-container">
			<h2>Vice President</h2>
			<p></p>
		<h3>Taylor Sherwood</h3>
		  <p>
        Hi, I'm Taylor! I'm originally from Milledgeville, Georgia, and I study Civil Engineering and Spanish as an undergraduate student here at Georgia Tech. 
        I'm currently serving as this year's Sea Kayaking Vice President, and am an Expedition Leader for both international expeditions in 2023, 
        the <a href="/expeditions/greenland">Greenland Expedition</a> as well as the <a href="/expeditions/antarctica-2023">Antarctica Expedition</a>. I'm excited to help provide more incredible 
        paddling opportunities to the Georgia Tech community!
		  </p>
      <p>Email: <a href="mailto:tsherwood6@gatech.edu">tsherwood6@gatech.edu</a></p>
		</div>
		 <picture slot="image-container">
		  <img
			src="/assets/images/about/sherwood-headshot-2.png"
			alt="Taylor Sherwood"
			loading="lazy"
		  />
		</picture>
	  </StickyTextImageSection>
    <StickyTextImageSection>
      <section class="feature-card__section">
        
      </section>
      <div slot="text-container">
        <h2>Gear Chair</h2>
        <p></p>
      <h3>Grant Reidy</h3>
        <p>
          Hi, I'm Grant. I'm an undergraduate Computer Science student. I'm originally from Jacksonville, Florida, and I enjoyed kayaking along 
          the St. Johns River before coming to Atlanta. I've been working with Sea Kayaking since 2021, 
          and I was a participant on the <a href="/expeditions/british-columbia">British Columbia Expedition</a> in August 2022. 
          I am an Expedition Leader for the <a href="/expeditions/greenland">Greenland Expedition</a>, as well as the 
          <a href="/expeditions/antarctica-2023">Antarctica Expedition</a>. I recommend joining Sea Kayaking 
          for an experience like no other offered at Georgia Tech.
        </p>
        <p> I also built this website so if you have any feedback, please reach out!</p>
        <p>Email: <a href="mailto:grant.reidy@gatech.edu">grant.reidy@gatech.edu</a></p>
      </div>
       <picture slot="image-container">
        <img
        src="/assets/images/about/reidy-headshot.png"
        alt="Grant Reidy"
        loading="lazy"
        />
      </picture>
      </StickyTextImageSection>
    <StickyTextImageSection>
      <section class="feature-card__section">
        
      </section>
      <div slot="text-container">
        <h2>Mentor</h2>
        <p></p>
      <h3>John Traendly</h3>
        <p>
          Hi, I'm John. I'm a Georgia Tech alumnus, ME 1968 and MS IE 1973, and have been mentoring in the Sea 
          Kayaking program since 2012. I am an <a target="_blank" href="https://americancanoe.org/">American Canoe Association</a> Level 5 Instructor and a Level 3 
          Instructor Trainer. I have been fortunate to have staffed over 160 <a href="/ip-trips">IP trips</a> and been on all of 
          the <a href="/expeditions">Sea Kayaking expeditions</a>. Prior to kayaking, I was an IT and logistics executive, entrepreneur and United States Marine. 
          I'm looking forward to some great new adventures in the Sea Kayaking program.
        </p>
        <p>Email: <a href="mailto:traendj@bellsouth.net">traendj@bellsouth.net</a></p>
      </div>
       <picture slot="image-container">
        <img
        src="/assets/images/about/traendly-headshot.png"
        alt="John Traendly"
        loading="lazy"
        />
      </picture>
      </StickyTextImageSection>
      <StickyTextImageSection>
        <section class="feature-card__section">
          
        </section>
        <div slot="text-container">
          <h2>Training Chair</h2>
          <p></p>
        <h3>Jackson Moody</h3>
          <p>
            Hi, I'm Jackson. I am originally from Memphis, Tennessee and am currently a grad student in Electrical Engineering at Georgia Tech. 
            I have been staffing Sea Kayaking trips since 2018 and have held a variety of roles in that time including Vice President. 
            I am currently serving as training chair and leading our weekly roll schools.
          </p>
          <p>Email: <a href="mailto:jmoody41@gatech.edu">jmoody41@gatech.edu</a></p>
        </div>
         <picture slot="image-container">
          <img
          src="/assets/images/about/moody-headshot.png"
          alt="Jackson Moody"
          loading="lazy"
          />
        </picture>
        </StickyTextImageSection>
        <StickyTextImageSection>
        <section class="feature-card__section">
          
        </section>
        <div slot="text-container">
          <h2>New & Prospective Staff Liason</h2>
          <p></p>
        <h3>Denitsa Dimitrova</h3>
          <p>
            [Deni description]
          </p>
          <p>Email: <a href="mailto:ddimitrova3@gatech.edu">ddimitrova3@gatech.edu</a></p>
        </div>
         <picture slot="image-container">
          <img
          src="/assets/images/about/deni-headshot.png"
          alt="Denitsa Dimitrova"
          loading="lazy"
          />
        </picture>
        </StickyTextImageSection>
</Layout>
